<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
     <i class="fas fa-university fa-lg"></i> {{"cms" | uppercase}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/doctors"><i class="fas fa-user-tie"></i> Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/student"><i class="fas fa-users"></i> Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/affairs"><i class="fas fa-user-shield"></i> Affairs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/events"><i class="fas fa-calendar-week"></i> Events</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger btn-sm mt-1"  routerLink="/login">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- ======================================= -->

