
  <div class=" col-md-8 col-12 m-auto">
  <div class="d-flex justify-content-between mb-5">
    <button class="btn btn-primary btn-sm" (click)='gotoEditDoctor()'>
      <i class="fas fa-user-tie"></i>
      Doctors
    </button>
    <button class="btn btn-primary btn-sm" (click)='gotoEditStudent()'>
      <i class="fas fa-users"></i>
      Students
    </button>
    <button class="btn btn-primary btn-sm" (click)='gotoEditCreateEvent()'>
      <i class="fas fa-calendar-week"></i>
      Create Events
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
